.container {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.intro{
  display: flex;
}


button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
    width: 200px;
    font-size: 1em;
    margin-top: 10px;
}
.timerbutton{
    display: flex;
    justify-content: center;
}

.photo {
  max-width: 60%;
}

.photo img{
  width: 100%;
}