/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
   /* background-image: url("./images/1.png"), linear-gradient(
    45deg,
    #C6DFD6 10%,
    #EDECEA
  ) ; */
   background: url("./images/1.png");
  background-color: gray;
  background-blend-mode: screen;
     background-size: cover;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #454545;
}

h3, h4 {
  color: #454545;
}

p {
  font-size: 24px;
  color: #454545;
}

li {
  list-style: none;
}

a {
  color: #454545;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
